/* Style for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container for centering content */
.container {
    text-align: center;
}

/* Container for form and image */
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Container for the password form */
.mdp {
    margin-top: 100px;
    padding: 20px;
    width: 300px;
    margin-right: 50px;
}

/* Style for each input section */
.mdp div {
    margin-bottom: 15px;
}

/* Style for labels */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #0a0724;
}

/* Style for inputs */
input[type="text"] {
    width: 90%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 20px;
}

/* Style for the submit button */
input[type="submit"] {
    width: 90%;
    padding: 10px;
    background-color: #0c0644;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

/* Hover effect for the submit button */
input[type="submit"]:hover {
    background-color: #0056b3;
}
/* img */
img {
    width: 550px;
    height: auto;
}

h1 {
    color: #0c0644;
    text-align: center;
}
@media (max-width: 768px) {
    .form-container {
        flex-direction: column;
    }
    input[type="text"] {
        width: 80%;
    }
    .mdp {
        margin-right: 0;
        margin-bottom: 20px;
        width: 90%;
        box-sizing: border-box;
    }

    img {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .mdp {
        padding: 10px;
        width: 90%;
    }

    img {
       display: none;
    }

    input[type="text"] {
        width: 80%;
    }

    input[type="submit"] {
        width: 100%;
    }
    .mdp_m{
        width: 100;
    }
}